.navbar-list{
    list-style-type: none;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 2;
    top: 0;
    width: 100%;
}

.navbar-item {
    float: left;
    border-right: 1px solid #bbb;
}

.navbar-item:first-child {
    border-left: 1px solid #bbb;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar-link:hover{
    background-color: #111;
}

.bibitem {
  padding-bottom:10px;
}

.body-link:link, .body-link:visited{
  color:blue;
  text-decoration: none
}

.body-link:hover {
    color: blue;
    text-decoration: underline;
}

.title{
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

/* from https://css-tricks.com/hash-tag-links-padding/ */
.container.body::before { 
  display: block; 
  content: " "; 
  margin-top: -7rem; 
  height: 7rem; 
  visibility: hidden; 
  pointer-events: none;
}

.img-simple{ 
  border:1px solid black;
}

.img-noborder{

}

figcaption {
  padding:1rem;
  background:#cccccc;
}

.thick-hr {
    border: none;
    height: 1px;
    /* Set the hr class="thick-hr" color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.thin-hr{
    border: none;
    height: 1px;
    /* Set the hr class="thick-hr" color */
    color: #eeeeee; /* old IE */
    background-color: #eeeeee; /* Modern Browsers */ 
}

.indented-list{
  margin-left: 2rem;
  /*list-style-type: disc;*/
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}
